body{
  background-color: aqua;
}

.App {
  text-align: center;
}

.input-group{
  width: 60%;
}

.card{
  max-width: 70%;
}

.card-title{
  position: absolute;
  padding: 20px;
}

.card-date{
  position: absolute;
  padding-left: 20px;
  margin-top: 60px;
}

.card-temp{
  position: absolute;
  padding-left: 20px;
  margin-top: 260px;
  font-size: 50px;
}

.card-desc{
  position: absolute;
  padding-left: 20px;
  margin-top: 320px;
}

App{
  width: 100%;
  min-height: 100vh;
  position: relative;
}